
.home-1 {
  background-color: rgb(255, 255, 255);
  padding: 50px 0px 100px 0px;
  background-image: url(../images/bg_gemometry_blue.jpg);
  position: relative;
}
.panel {
  background-color: #fff;
  border-radius: 0px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-transform: capitalize;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45%;
}

.logoimg{
  height: 100px;
  position: relative;
}

.pricing-header {
  color: #225d85;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.pricing-features {
  color: #225d85;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 50px 0 25px;
  padding-left: 0rem;
}

.pricing-features-item {
  border-top: 1.5px solid #e1f1ff;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 0;
  list-style-type:none
}

.pricing-features-item:last-child {
  border-bottom: 1.5px solid #e1f1ff;
}

.pricing-price {
  color: #225d85;
  display: block;
  font-size: 18px;
  font-weight: bolder
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}

.display-table {
    display: table; 
    width: 100%;
}
.display-table > div { 
    display: table-row; 
}
.display-table > div > div { 
    display: table-cell;
    padding: 5px;
}

.btn-custom{
    padding: 10px 20px !important;
    border-radius: 25px !important;
}

.w-first-div{
  width: 70%;
}

.w-sec-div{
  width: 40%;
}

.btnplan{
    width: 49.99%;
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    /* border-radius: 10px !important; */
    margin-top: 15px;
    margin-left: -231px;
    padding: 18px !important;
    position: absolute;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

@media (min-width: 500px){
    #compare{
    max-width: 650px !important;
    }
}

@media (min-width: 900px){
  #compare{
  max-width: 950px !important;
  }
}

@media (max-width: 899px) {
  .btnplan {
    position: relative !important;
    width: 100% !important;
    margin-left: 0 !important;
}
}