.tools .tools-box {
    transform: scale(1.1);
    transition: all 0.5s ease 0s;
}

.btn-custom{
    padding: 10px 20px !important;
    border-radius: 25px !important;
}

.image-holder img {
    width: 100%;
    height: 100%;
}

.prev {
    margin-right: 20px; /* Changed this */
}

.inner {
    display: flex;
    background: #fff;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.image-holder {
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-content {
    width: 60%;
    padding-top: 65px;
    padding-left: 51px;
    padding-right: 51px;
}

label{
    color: #225d85;
    font-weight: 600;
}

.heading h2{
    color: #225d85;
}

#employeeTable th{
    font-weight: 500;
}

#employeeTable td:nth-child(2){
    display: flex;
    justify-content: center;
}

#employeeTable input[type="text"]{
    width: 50%;
}